<div class="grid-container">
    <div class="floating-form">
        <h2>Sign up for an account</h2>
            <%= form_for @user do |f| %>
                <%=     f.label :name %>
                <%=     f.text_field :name, class: "light-blue" %><br>
                <%=     f.label :email, class: "mt-20" %>
                <%=     f.text_field :email, class: "light-blue" %><br>
                <%=     f.label :password, class: "mt-20" %>
                <%=     f.password_field :password, class: "light-blue" %><br>
                <%=     f.label :password_confirmation, 'Confirm password', class: "mt-20" %>
                <%=     f.password_field :password_confirmation, class: "light-blue" %><br>
                <%=     f.submit 'Sign Up' %>
            <% end %>
    </div>
</div>