<div class="grid-container">
    <div class="floating-form">
        <h2>Sign Up</h2>
            <%= form_for @user do |f| %>
                <%=     f.label :name %>
                <%=     f.text_field :name, class: "light-blue" %><br>
                <%=     f.label :password %>
                <%=     f.text_field :password, class: "light-blue" %><br>
                <%=     f.label :password_confirmation, 'Confirm password' %>
                <%=     f.text_field :password_confirmation, class: "light-blue" %><br>
                <%=     f.submit 'Create User' %>
            <% end %>
    </div>
</div>