<h1>Sign Up</h1>

<%= form_for @user do |f| %>
    <%=     f.label :name %>
    <%=     f.text_field :name %><br>
    <%=     f.label :password %>
    <%=     f.text_field :password %><br>
    <%=     f.label :password_confirmation, 'Confirm password' %>
    <%=     f.text_field :password_confirmation %><br>
    <%=     f.submit 'Create User' %>
    <% end %>