<h1><%= @user.name %>'s Transactions</h1>

<% if @transactions.size > 0 %>
<table>
    <tr>
        <th>Date</th>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Purchase Price</th>
        <th>Total</th>
    </tr>
    <% @transactions.each do|txn| %>
    <!-- NEED TO FILTER THESE FOR THE CURRENT USER -->
        <tr>
            <td><%= txn.purchase_date %></td>
            <td><%= Stock.find(txn.stock_id).symbol %>
            <td><%= txn.quantity %></td>
            <td><%= txn.purchase_price %></td>
            <td><%= txn.quantity * txn.purchase_price %></td>
        </tr>
    <% end %>
</table>

<% else %>
    <p>No transactions yet</p>
<% end %>